<!--
    Mary Johnson
    Matthew Shimko
    Jeffery Wang

    Written by Jeffrey Wang
-->

{% extends 'base.html' %}

{% block head %}
<title>Edit: {{ language.name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/database_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/database_edit_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chips.css') }}">
{% endblock %}

{% block top %}<form id="main-form">{% endblock %}
{% block bottom %}</form>{% endblock %}

{% block body %}

<div id="blocks" class="container mt-5">
    <div id="header-row" class="row g-5">

        <!-- Icon or course code -->
        <div class="col-xl-4"> <div class="ratio ratio-1x1">
            <div id="icon">
                <img id="icon_img" alt="" src="{{ url_for('img', folder='language', id=id) }}">
            </div>
            <div id="icon_form" class="position-absolute d-flex justify-content-center">
                <i class="material-icons">publish</i>
                <input form="main-form" id="image" type="file" accept="image/*">
            </div>
        </div> </div>

        <!-- Info card -->
        <div class="col"> <div id="details" class="overflow-auto">

            <!-- Title -->
            <input form="main-form" type="text" class="form-control info_title mb-3" id="name"
                {% if language.name is not none %} value="{{ language.name }}" {% endif %} 
                placeholder="Language name">

            <!-- Info -->
            <div class="container">

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Official site
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input form="main-form" type="text" class="form-control infoInput" id="site_url"
                        {% if language.site_url is not none %} value="{{ language.site_url }}" {% endif %} 
                        placeholder="URL">
                    </div>
                </div>

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Download page
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input form="main-form" type="text" class="form-control infoInput" id="download_url"
                        {% if language.download_url is not none %} value="{{ language.download_url }}" {% endif %}
                        placeholder="URL">
                    </div>
                </div>

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Documentation
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input form="main-form" type="text" class="form-control infoInput" id="documentation_url"
                        {% if language.documentation_url is not none %} value="{{ language.documentation_url }}" {% endif %}
                        placeholder="URL">
                    </div>
                </div>

            </div>

            <!-- Description -->
            <textarea type="text" form="main-form" class="form-control mt-4" id="description" placeholder="Language description">{% if language.description is not none %}{{ language.description }}{% endif %}</textarea>

        </div> </div>

    </div>

    <div id="links-row" class="row g-5">

        <div class="col-xl-6"> <div class="links-box">
            <h>Compatible Software</h>

            <div class="software-chips chips-input-container form-control">
                <div class="software-chips chips-container"> </div> 
                
                <div class="software-chips chip-form"> 
                    <input list="software-options" placeholder="Type to search..." class="chip-input">
                    <datalist id="software-options">
                        {% for i in range(0,all_software|length) %}
                            <option value="{{ all_software[i].name }}" data-id="{{ all_software[i].id }}">
                        {% endfor %}
                    </datalist>

                    <button type="button"><i class="material-icons">add</i></button> 
                </div> 

            </div>
        </div> </div>

        <div class="col-xl-6"> <div class="links-box">
            <h>Courses Using</h>

            <div class="course-chips chips-input-container form-control">
                <div class="course-chips chips-container"> </div> 
                
                <div class="course-chips chip-form"> 
                    <input list="course-options" placeholder="Type to search..." class="chip-input">
                    <datalist id="course-options">
                        {% for i in range(0,all_course|length) %}
                            <option value="{{ all_course[i].course_code }}" data-id="{{ all_course[i].id }}">
                        {% endfor %}
                    </datalist>

                    <button type="button"><i class="material-icons">add</i></button> 
                </div> 

            </div>
        </div> </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<!-- Enable functionality for chip-based entry; goes with chips.css in head block -->
<script src="{{ url_for('static', filename='js/chips.js') }}"></script>
<!-- Add placeholder chips at load time -->
<script>
    {% for i in range(0,courses|length) %}
        createChip("{{ courses[i].course_code }}", {{ courses[i].id }}, ".chips-container" + ".course-chips");
    {% endfor %}
    {% for i in range(0,softwares|length) %}
        createChip("{{ softwares[i].name }}", {{ softwares[i].id }}, ".chips-container" + ".software-chips");
    {% endfor %}
</script>
<!-- Auto-updating icon based on user upload -->
<script src="{{ url_for('static', filename='js/database_form_icon.js') }}"></script>
<!-- Will submit POST data with an entry for each form element ID -->
<script src="{{ url_for('static', filename='js/form_submit.js') }}"></script>
{% endblock %}