<!--
    Mary Johnson
    Matthew Shimko
    Jeffery Wang

    Written by Jeffrey Wang
-->

{% extends 'base.html' %}

{% block head %}
<title>Edit: {{ software.name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/database_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/database_edit_page.css') }}">
{% endblock %}

{% block top %}<form>{% endblock %}
{% block bottom %}<form>{% endblock %}

{% block body %}

<div id="blocks" class="container mt-5">
    <div id="header-row" class="row g-5">

        <!-- Icon or course code -->
        <div class="col-xl-4"> <div class="ratio ratio-1x1">
            <div id="icon">
                <img id="icon_img" alt="" src="{{ url_for('img', folder='software', id=id) }}">
            </div>
            <div id="icon_form" class="position-absolute d-flex justify-content-center">
                <i class="material-icons">publish</i>
                <input id="image" type="file" accept="image/*">
            </div>
        </div> </div>

        <!-- Info card -->
        <div class="col"> <div id="details" class="overflow-auto">

            <!-- Title -->
            <input type="text" class="form-control info_title mb-3" id="name"
                {% if software.name is not none %} value="{{ software.name }}" {% endif %} 
                placeholder="Software name">

            <!-- Info -->
            <div class="container">

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Official site
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input type="text" class="form-control infoInput" id="site_url"
                        {% if software.site_url is not none %} value="{{ software.site_url }}" {% endif %} 
                        placeholder="URL">
                    </div>
                </div>

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Download page
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input type="text" class="form-control infoInput" id="download_url"
                        {% if software.download_url is not none %} value="{{ software.download_url }}" {% endif %}
                        placeholder="URL">
                    </div>
                </div>

                <div class="row d-flex align-items-center">
                    <div class="col-sm-6 info_category"> 
                        Documentation
                    </div>
                    <div class="col-sm-6 info_text"> 
                        <input type="text" class="form-control infoInput" id="documentation_url"
                        {% if software.documentation_url is not none %} value="{{ software.documentation_url }}" {% endif %}
                        placeholder="URL">
                    </div>
                </div>

            </div>

            <!-- Description -->
            <textarea type="text" class="form-control mt-4" id="description" placeholder="Software description">{% if software.description is not none %}{{ software.description }}{% endif %}</textarea>

        </div> </div>

    </div>

    <div id="links-row" class="row g-5">

        <div class="col-xl-6"> <div class="links-box">
            <h>Compatible Languages</h>

            <input type="text" class="form-control" id="languages"
                value="{% for i in range(0,languages|length) %}{{ languages[i].name }}{% if i != languages|length-1 %}, {% endif %}{% endfor %}"
                placeholder="Language names">
        </div> </div>

        <div class="col-xl-6"> <div class="links-box">
            <h>Courses Using</h>

            <input type="text" class="form-control" id="courses"
                value="{% for i in range(0,courses|length) %}{{ courses[i].course_code }}{% if i != courses|length-1 %}, {% endif %}{% endfor %}"
                placeholder="Course codes">
        </div> </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<!-- Auto-updating icon based on user upload -->
<script src="{{ url_for('static', filename='js/database_form_icon.js') }}"></script>
<!-- Will submit POST data with an entry for each form element ID -->
<script src="{{ url_for('static', filename='js/form_submit.js') }}"></script>
{% endblock %}