html {
    background-color: rgb(66,66,66)
}

.header {
    background-color: gray;
    width : 1000px;
    height : 100;
    text-align:center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icon-text {
    font-family: var(--font-code-style);
    font-weight: 500;
    font-size: 6cqw;
    color: rgb(189, 189, 189);
    line-height: 1;

    align-items: center; 
    justify-content: center;
}

.card-name-combo {
    margin-bottom: 2%;
}

.card-group {
    margin-bottom: 5%;
}

.card {
    width: 20rem;
    height: 20rem;
    padding: 5%;
}
.card-title {
    font-style: bold;
    font-size: 6cqw;
}

.card-text{
    font-style: italic;
    align-items: center;
}