html {
    background-color: #DDDDDD
}

body {
    padding: 0;
    margin: 0;
    /* required for sidebar */
    display: flex;
    width: 100%;
    --nav-width: 50px;
    background-color: inherit !important;
}

a {
    color: inherit;
    text-decoration: none;
}

#edit_button, #save_button, #back_button {
    border-radius: 0;
    display: none;
}

#save_button {
    color:#000000;
    background-color: greenyellow;
}

.nav {
    background:#000000;
    width: var(--nav-width);
    height: 100vh;
    position: fixed;
    float: right;
    right: 0;
}
.nav-link {
    padding-left: calc((var(--nav-width) - 24px) / 2);
    padding-right: calc((var(--nav-width) - 24px) / 2);
    margin-left: auto;
    margin-right: auto;
}
.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link:hover {
    color: #8d8d8d;
}
.nav-link:first-child {
    padding-top: 1rem;
}

#content {
    width: calc(100% - var(--nav-width));
}

.card {
    border: none;
    color: whitesmoke;
    background-color: rgb(43, 43, 43)
}