@media screen and (max-width: 600px) {
    #profile_sidebar {
        width: 100% !important;
        border-left: 0 !important;
    }
}

.nav {
    z-index: 3000;
}

#profile_sidebar {
    padding-right: var(--nav-width);
}

#profile_sidebar .offcanvas-header {
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}
#profile_sidebar h1 {
    font-family: var(--font-robo-style);
    text-align: center;
}

