:root{
    --grid-gutter-width: 5%;
}

/* applies margin to all rows; column margins are applied within each row using bootstrap classes */
#content > * {
    margin-bottom: 50px;
}

.row {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 5rem;
}

#icon {
    font-family: var(--font-robo-style);
    font-weight: 500;
    font-style: italic;
    color: rgb(189, 189, 189);
    line-height: 1;

    background-color: rgb(32, 32, 32);
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;
}
#intro-line-small {
    font-size: 3cqw;

    position: absolute;
    bottom: 75%;
}
#intro-line-big {
    font-size: 8cqw;

    display: flex;
    align-items: center;
    
    position: absolute;
    top: 0; bottom: 0;
}

#details {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;

    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}
#details img {
    width: 50%;
    margin-bottom: 1.5rem;
}
#details h {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
#user-properties p {
    margin-top: 0;
    margin-bottom: 0;
}
#user-properties .row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}
#user-properties .prop-advanced .prop {
    visibility: hidden;
}
#user-properties .prop-advanced:hover .prop {
    visibility: visible;
}
#user-properties #prop-advanced-hint {
    margin-top: .5rem;
    font-style: italic;
    opacity: .7;
    text-align: center;
}
#user-properties .prop_label {
    text-align: right;
    font-weight: bold;
}