html {
    background-color: rgb(66,66,66);
}
body {
    color: whitesmoke;
}
#main-form {
    width: 100%;
}
#content > * {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}

#intro h1 {
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}
#intro #checkboxes .col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#intro #checkboxes input[type='checkbox'] {
    width: 30px;
    height: 30px;
}
#intro #checkboxes label {
    margin-left: 10px;
    font-size: xx-large;
}

#query-options {
    background-color: darkgray;
    color: rgb(44,44,44);
}
#query-options #open-close {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#query-options #open-close h1 {
    font-size: 2rem;
}
#query-options #open-close i {
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}
#query-options #actual-options {
    margin-top: 1rem;
}
#query-options .dropdown-query-option > * {
    margin-bottom: .5rem;
}

#query-final #search-bar {
    width: 100%;
    background-color: black;
    border: 0;
    padding: 10px;
}
#query-final #search-bar:focus {
    outline: none;
}
#query-final #submit-button {
    background-color: darkgrey;
    color: rgb(33, 33, 33);
    font-weight: bold;
    margin-top: 5px;
    height: 3rem;
    width: 100%;
    outline: none;
    border: none;
}
#query-final #submit-button:hover {
    background-color: rgb(121, 121, 121);
}

#error {
    background-color: darkgray;
    text-align: center;
    height: 100%;
    width: 100%;
}

#results > h1 {
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
}
#results .card-group {
    margin-bottom: 5rem;
}

.card-name-combo {
    margin-bottom: 2%;
}
.card {
    width: 15rem;
    height: 15rem;
    padding: 5%;
}
.icon {
    text-align:center;
    width:100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.icon_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icon-text {
    font-family: var(--font-code-style);
    font-weight: 500;
    font-size: 5cqw;
    color: rgb(189, 189, 189);
    line-height: 1;

    align-items: center; 
    justify-content: center;
}
.card-text{
    color: rgb(229, 228, 228);
    width: 15rem;
    text-align:center;
    overflow-wrap: break-word;
}