<!--
    Mary Johnson
    Matthew Shimko
    Jeffery Wang

    Written by Mary Johnson
-->

{% extends 'base.html' %}

{% block head %}
<title>{{ language.name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/database_page.css') }}">
{% endblock %}

{% block body %}

<div id="blocks" class="container mt-5">
    <div id="header-row" class="row g-5">
        
        <!-- Icon or course code -->
        <div class="col-xl-4"> <div class="ratio ratio-1x1">
            <div id="icon">
                <img id="icon_img" alt="" src="{{ url_for('img', folder='language', id=id) }}">
            </div>
        </div> </div>

        <!-- Info card -->
        <div class="col-xl-8"> <div id="details" class="overflow-auto">

            <!-- Title -->
            <h id="title" class="d-flex justify-content-center mb-3">{{ language.name }}</h>
            
            <!-- Info -->
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-6 info_category"> 
                        Official site
                    </div>
                    <div class="col-sm-6 info_text"> 
                        {% if language.site_url %}
                            <a href="{{ language.site_url }}">{{ language.site_url }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 info_category"> 
                        Download page
                    </div>
                    <div class="col-sm-6 info_text"> 
                        {% if language.download_url %}
                            <a href="{{ language.download_url }}">{{ language.download_url }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 info_category"> 
                        Documentation
                    </div>
                    <div class="col-sm-6 info_text"> 
                        {% if language.documentation_url %}
                            <a href="{{ language.documentation_url }}">{{ language.documentation_url }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div> 

            </div>

            <!-- Description -->
            {% if language.description %}
            <p class="mt-4">{{ language.description }}</p>
            {% endif %}

        </div> </div>

    </div>

    <div id="links-row" class="row g-5">

        <div class="col-xl-6"> <div class="links-box">
            <h>Compatible Software</h>

            {% if softwares|length < 1  %}
                <p style="font-weight: bold;">None</p>
            {% else %}
                <ul>
                    {% for software in softwares %} 
                        <li> <a href="/software/{{ software.id }}">
                            {{ software.name }}
                        </a> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div> </div>

        <div class="col-xl-6"> <div class="links-box">
            <h>Courses Using</h>

            {% if courses|length < 1  %}
                <p style="font-weight: bold;">None</p>
            {% else %}
                <ul>
                    {% for course in courses %} 
                        <li> <a href="/course/{{ course.id }}">
                            {{ course.title }}
                        </a> </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div> </div>

    </div>

    <div id="guides-row" class="row g-5"> <div class="col-xl-12">
        <div class="links-box">
            <div id='title-row' class="row">
                <h style="text-align: center;">Setup guides</h>
                <a href="{{ url_for('newDatabaseContent', parent_type='language', parent_id=id, type='guide') }}">+ Add</a>
            </div>

            {% if not guides %}
                <p style="font-weight: bold;">None</p>
            {% else %}
                <ul>
                    {#% for guide in guides %#} 
                        <li> <a href="{{ id }}/guide/{{ guides.id }}">
                            {{ guides.name }}
                        </a> </li>
                    {#% endfor %#}
                </ul>
            {% endif %}
        </div>
    </div> </div>

</div>

{% endblock %}