<!--
    Mary Johnson
    Mathew Shimko
    Jeffery Wang

    Written by Mathew Shimko
-->
{% extends 'base.html' %}

{% block head %}
<title>Explore</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
{% endblock %}

{% block body %}
<div style = "background-color: rgb(66,66,66)">

        
    <div class="header">
        
            <p>
                <h1><br><br></h1>
            </p>
        
    </div>
    <!--
        Explore Recommended "Classes"
    -->
    <div class="header">
        <div style="text-align:center ; background-color: gray ; width : 1000px ; height : 100 ; margin: auto">
            <p>
                <h1><br>Recommended Courses<br><br></h1>
            </p>
        </div>
        <br>
        <br>
    </div>
    
    <div class="card-group h-50"> 
        {% if courses|length > 0  %}
            {% for course in courses %}
            
            <div class="col-md-4 d-flex justify-content-center"> 
                <a href="/course/{{ course.id }}"> 
                    <div class="card border-40 rounded-0">
                        <div class="card-body">
                            
                            <h5 class="card-title">
                                <div style="text-align:center">
                                        {% for line in course.course_code.split()%}
                                        <option recVal ="{{ course.id }}"><br><br>{{line}}</option>
                                        {% endfor %}
                                </div>
                            </h5>
                            <p>
                                <br><br>
                            </p>
                            <p class="card-text">
                                <option recVal = "{{ course.id }}"> <br>{{course.title}}</option>
                            </p>
                        </div>
                    </div> 
                </a> 
            </div>
            <!--
            <div class="col-md-4 d-flex justify-content-center"> <a href="/explore/"> <div class="card border-0 rounded-0"></div>
                <a href="/course/{{ course.id }}">
                    <div class="card w-20 border-50 rounded-0">
                        <div class="card-body">
                            <h5 class="card-title">
                                <option recVal ="{{ course.id }}">{{course.course_code}}</option>
                            </h5>
                        </div>
                    </div>
                </a>
                -->
            {% endfor %}
        {% endif %}     
    </div>
    <!--
        Explore Recommended "Software"
    -->
    <div>
        <br>
        <br>
        <div style="text-align:center ; background-color: gray ; width : 1000px ; height : 100 ; margin: auto">
            <p>
                <h1><br>Recommended Softwares<br><br></h1>
            </p>
        </div>
        <br>
        <br>
    </div>

    <div class="card-group h-50"> 
    {% if softwares|length > 0  %}
        {% for software in softwares %}
        <div class="col-md-4 d-flex justify-content-center">   
            <a href="/software/{{ software.id }}"> 
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                        <p class="card-text">
                            <br><br>
                            <div style="font-size:x-large">
                            <option recVal = "{{ software.id }}"> <br>{{software.name}}</option>
                            </div>
                        </p>
                    </div>
                </div>
            </a> 
        </div>
        <!--
        <div class="col-md-4 d-flex justify-content-center"> <a href="/explore/"> <div class="card border-0 rounded-0"></div>
        <div> 
                <a href="/software/{{ software.id }}">
                <div class="card w-20 border-50 rounded-0">
                <div class="card-body">
                    <h7 class="card-title">
                        <option recVal ="{{ software.id }}"> {{ software.name }}</option>
                </h7>
                </div></a>
    
            </div>
        -->
        {% endfor %}
    {% endif %}  
    </div>   
    <!--
        Explore Recommended "Languages"
    -->
    <div class="header">
        <div style="text-align:center ; background-color: gray ; width : 1000px ; height : 100 ; margin: auto">
            <p>
                <h2><br>Recommended Languages<br><br></h2>
            </p>
        </div>
    
    </div>
    <div class="card-group h-50"> 
    {% if languages|length > 0  %}
        {% for language in languages %}
        <div class="col-md-4 d-flex justify-content-center">
             <a href="/language/{{ language.id }}">
                 <div class="card border-0 rounded-0">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div style="font-size: 4cqw;">
                                <br>
                                <option recVal = "{{ language.id }}"> <br>{{language.name}}</option>
                            </div>
                        </h5>
                    </div>
                </div> 
            </a> 
        </div>
        {% endfor %}
    {% endif %} 
    </div>    
</div>
{% endblock %}
