<!--
    Mary Johnson
    Mathew Shimko
    Jeffery Wang

    Written by Mathew Shimko
-->
{% extends 'base.html' %}

{% block head %}
<!--
    Explore Recommended "Classes"
-->
<div class="card-deck h-50 justify-content-center"></div>
<a href="/course/{{ course.id }}">{{ course.title }}> 
    <div class="card w-20 border-0 rounded-0">
        <div class="card-body">
      <h5 class="card-title">course.title</h5>
    </div>
  </div> </a>
</div>

<!--
    Explore Recommended "Software"
-->
<div class="card-deck h-50 justify-content-center"></div>
</div>

<!--
    Explore Recommended "Languages"
-->
<div class="card-deck h-50 justify-content-center"></div>
</div>
{% endblock %}
