{% extends 'base.html' %}
            
{% block head %}
<title>The Array</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="header mb-5">
    <a href="#">
        <h1>The<br>Array</h1>
    </a>
</div>

<div class="row g-4 mb-5">
    
    <div class="col-md-4 d-flex justify-content-center"> <a href="/explore/"> <div class="card border-0 rounded-0">
      <div class="card-body">
        <h5 class="card-title">Explore</h5>
        <p class="card-text">See CCI courses, programming languages, and frameworks</p>
      </div>
    </div> </a> </div>

    <div class="col-md-4 d-flex justify-content-center"> <a href="/search/"> <div class="card border-0 rounded-0">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <p class="card-text">Search all The Array Content</p>
        </div>
    </div> </a> </div>
    
    <div class="col-md-4 d-flex justify-content-center"> <a href="/profile/"> <div class="card border-0 rounded-0">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">View your details and content</p>
        </div>
    </div> </a> </div>

</div>

<div class="row mb-5 d-flex justify-content-center">
    
  <div style="width:75%;"> <a href="/about/"> <div class="card border-0 rounded-0 align-items-center" style="width:100%; height:9rem;">
    <div class="card-body" style="padding: 0; display: flex; align-items: center;">
      <h5 class="card-title" style="text-decoration: none;">About The Array</h5>
    </div>
  </div> </a> </div>

</div>

{% endblock %}