<!--
    Mary Johnson
    Mathew Shimko
    Jeffery Wang

    Written by Mathew Shimko
-->
{% extends 'base.html' %}

{% block head %}
<title>My Content</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
{% endblock %}

{% block body %}

<!--
    Explore Recommended "Classes"
-->
<div class="header p-5">
    <h1>My Courses <a href="{{ url_for('newDatabaseContent', type='course') }}"><i class='material-icons'>add</i></a></h1>
</div>

<div class="card-group"> 
    {% if courses|length > 0  %}
        {% for course in courses %}
        
        <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
            <a href="/course/{{ course.id }}"> 
                <div class="card rounded-0">
                    <div class="card-body">
                        
                        <div style="width:100%; height:100%;">
                            <div class="icon">
                                {% for line in (course.course_code or '').split() %}
                                <h class="icon-text">{{ line }}</h>
                                <br>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div> 
                <p class="card-text" style="color: rgb(229, 228, 228); width:20rem; text-align:center; overflow-wrap: break-word;">
                    {{course.title}}
                </p>
            </a> 
        </div>
        {% endfor %}
    {% endif %}     
</div>
<!--
    Explore Recommended "Software"
-->
<div class="header p-5">
    <h1>My Software <a href="{{ url_for('newDatabaseContent', type='software') }}"><i class='material-icons'>add</i></a></h1>
</div>

<div class="card-group"> 
{% if softwares|length > 0  %}
    {% for software in softwares %}
    
    <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
        <a href="/software/{{ software.id }}" style="text-decoration: none;"> 
            <div class="card rounded-0">
                <div class="card-body">
                    
                    <div style="width:100%; height:100%;">
                        <div class="icon">
                            <img class="icon_img" alt="" src="{{ url_for('img', folder='software', id=software.id) }}">
                        </div>
                    </div>

                </div>
            </div> 
            <p class="card-text" style="color: rgb(229, 228, 228); width:20rem; text-align:center; overflow-wrap: break-word;">
                {{software.name}}
            </p>
        </a> 
    </div>
    {% endfor %}
{% endif %}  
</div>   
<!--
    Explore Recommended "Languages"
-->
<div class="header p-5">
    <h1>My Languages <a href="{{ url_for('newDatabaseContent', type='language') }}"><i class='material-icons'>add</i></a></h1>
</div>

<div class="card-group"> 
{% if languages|length > 0  %}
    {% for language in languages %}
    
    <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
        <a href="/language/{{ language.id }}" style="text-decoration: none;"> 
            <div class="card rounded-0">
                <div class="card-body">
                    
                    <div style="width:100%; height:100%;">
                        <div class="icon">
                            <img class="icon_img" alt="" src="{{ url_for('img', folder='language', id=language.id) }}">
                        </div>
                    </div>

                </div>
            </div> 
            <p class="card-text" style="color: rgb(229, 228, 228); width:20rem; text-align:center; overflow-wrap: break-word;">
                {{language.name}}
            </p>
        </a> 
    </div>
    {% endfor %}
{% endif %} 
</div>
{% endblock %}
