<!--
    Mary Johnson
    Matthew Shimko
    Jeffery Wang

    Written by Mary Johnson
-->

{% extends 'base.html' %}

{% block head %}
<title>My Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}

<div id="blocks" class="container mt-5">
    <div id="header-row" class="row">
        
        <!-- Welcome message -->
        <div class="col-xl-6">
            <div class="ratio ratio-1x1"> <div id="icon">
                <p id='intro-line-small'>
                    Welcome to...
                </p>
                <div id='intro-line-big'>
                    <p>The<br>Array</p>
                </div>
            </div> </div> 
        </div>

        <!-- Info panel -->
        <div class="col-xl-6"> <div id="details" class="overflow-auto">

            <img src="{{ picture_url }}" class="rounded-circle shadow-lg"
                onerror="this.src = 
                    '{{ url_for('static', filename='img/user.svg') }}'
                ;">

            <h>Hello{% if user_id %}, {{ name }}{% endif %}!</h>

            {% if user_id %}
            <div id="user-properties" class="container">
                <div class="prop row">
                    <div class="col-sm-6 prop_label"> 
                        Email
                    </div>
                    <div class="col-sm-6 prop_text"> 
                        {{ email }}
                    </div>
                </div>
                <div class="prop row">
                    <div class="col-sm-6 prop_label"> 
                        Moderator
                    </div>
                    <div class="col-sm-6 prop_text"> 
                        {{ {True: 'Yes', False: 'No'}[mod_status] }}
                    </div>
                </div>
                <div class="prop-advanced">
                    <div class="prop row">
                        <div class="col-sm-6 prop_label"> 
                            User ID
                        </div>
                        <div class="col-sm-6 prop_text"> 
                            {{ user_id }}
                        </div>
                    </div>
                    <div id="prop-advanced-hint" class="row">
                        <p class="col-sm-12">Hover for advanced info.</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div>
                Click here to log in.
            </div>
            {% endif %}

        </div> </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
    {% if not user_id %}
    <script>
        $('#details').children().css('cursor', 'pointer');
        $('#details').on('click', function () {
            $('a', '#profile-button-div')[0].click();
        });
    </script>
    {% endif %}
{% endblock %}