<!--
    Mary Johnson
    Mathew Shimko
    Jeffery Wang

    Written by Mary Johnson & Mathew Shimko
-->
{% extends 'base.html' %}

{% block head %}
<title>Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block top %}<form id="main-form" action="/search" method="POST" data-bs-theme="dark">{% endblock %}
{% block bottom %}</form>{% endblock %}

{% block body %}

<div id="intro">
    <h1>What are you searching for?</h1>
    <div id="checkboxes" class="row">
        <div class="col-4">
            <input type="checkbox" id="course_chk" name="search_course" value="1">
            <label for="course">Courses</label>
        </div>
        <div class="col-4">
            <input type="checkbox" id="language_chk" name="search_language" value="1">
            <label for="language">Languages</label>
        </div>
        <div class="col-4">
            <input type="checkbox" id="software_chk" name="search_software" value="1">
            <label for="software">Software</label>
        </div>
    </div>
</div>

<div id="query-options">
    <div id="open-close">
        <h1>Narrow Search</h1><i class="material-icons">expand_more</i>
    </div>
    <div id="actual-options" class="row">
        <div id="creditHours_block" class="dropdown-query-option col-6 for-course">
            <label for="credit_hours">Credit Hours:</label><br>
            <select name="credit_hours" id="credit_hours"><br>
                <!--
                    I don't know how to make these options based on database values.
                    Need to research more flask stuff to improve here.
                -->
                <option value="0"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div id="prereq_block" class="dropdown-query-option col-6 for-course">
            <label for="prerequisite_course">Prerequisite of Course:</label><br>
            <select name="prerequisite_course" id="prerequisite_course"><br>
                
                <option value="0"></option>
            
                {% if all_course|length > 0  %}
                    {% for course in all_course %} 
                        <option value="{{ course.id }}">{{course.course_code}}: {{ course.title }}</option>
                    {% endfor %}
                {% endif %}      
            </select>
        </div>
        <div id="req_block" class="dropdown-query-option col-6 for-course">
            <label for="requires_course">Requires Course:</label><br>
            <select name="requires_course" id="requires_course"><br>
                
                <option value="0"></option>
            
                {% if all_course|length > 0  %}
                    {% for course in all_course %} 
                        <option value="{{ course.id }}">{{course.course_code}}: {{ course.title }}</option>
                    {% endfor %}
                {% endif %}      
            </select>
        </div>
        <div id="compCourse_block" class="dropdown-query-option col-6 for-software for-language">
            <label for="compatible_course">Used in Course:</label><br>
            <select name="compatible_course" id="compatible_course"><br>
                
                <option value="0"></option>
            
                {% if all_course|length > 0  %}
                    {% for course in all_course %} 
                        <option value="{{ course.id }}">{{course.course_code}}: {{ course.title }}</option>
                    {% endfor %}
                {% endif %}      
            </select>
        </div>
        <div id="compLang_block" class="dropdown-query-option col-6 for-class for-software">
            <label for="compatible_language">Works with Language:</label><br>
            <select name="compatible_language" id="compatible_language"><br>
                <option value="0"></option>
                {% if all_language|length > 0  %}
                    {% for language in all_language %} 
                        <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                {% endif %}  
            </select>
        </div>
        <div id="compSoft_block" class="dropdown-query-option col-6 for-class for-language">
            <label for="compatible_software">Works with Software:</label><br>
            <select name="compatible_software" id="compatible_software"><br>
                <option value="0"></option>
                {% if all_software|length > 0  %}
                    {% for software in all_software %} 
                        <option value="{{ software.id }}">{{ software.name }}</option>
                    {% endfor %}
                {% endif %}  
            </select>
        </div>
    </div>
</div>

<div id='query-final'>
    <input type="text" id="search-bar" placeholder="Type to search..." name="search_text" hidden>
    <input type="submit" id="submit-button" value="Search">
</div>

<div id="results">
    {% if err %}
    <div id="error">
        <h5>{{ err }}</h5>
    </div>

    {% else %}

    {% if courses|length > 0 %}
    <h1>Courses</h1>
    <div id='result-courses' class="card-group"> 
        {% for course in courses %}
        <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
            <a href="/course/{{ course.id }}" style="text-decoration: none;"> 
                <div class="card rounded-0">
                    <div class="card-body">
                        
                        <div style="width:100%; height:100%;">
                            <div class="icon">
                                {% for line in (course.course_code or '').split() %}
                                <h class="icon-text">{{ line }}</h>
                                <br>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div> 
                <p class="card-text">
                    {{course.title}}
                </p>
            </a> 
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if languages|length > 0 %}
    <h1>Languages</h1>
    <div id='result-languages' class="card-group"> 
        {% for language in languages %}
        <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
            <a href="/language/{{ language.id }}" style="text-decoration: none;"> 
                <div class="card rounded-0">
                    <div class="card-body">
                        
                        <div style="width:100%; height:100%;">
                            <div class="icon">
                                <img class="icon_img" alt="" src="{{ url_for('img', folder='language', id=language.id) }}">
                            </div>
                        </div>
    
                    </div>
                </div> 
                <p class="card-text">
                    {{language.name}}
                </p>
            </a> 
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if softwares|length > 0 %}
    <h1>Software</h1>
    <div id='result-softwares' class="card-group"> 
        {% for software in softwares %} 
        <div class="card-name-combo col-md-4 d-flex justify-content-center"> 
            <a href="/software/{{ software.id }}" style="text-decoration: none;"> 
                <div class="card rounded-0">
                    <div class="card-body">
                        
                        <div style="width:100%; height:100%;">
                            <div class="icon">
                                <img class="icon_img" alt="" src="{{ url_for('img', folder='software', id=software.id) }}">
                            </div>
                        </div>
    
                    </div>
                </div> 
                <p class="card-text">
                    {{software.name}}
                </p>
            </a> 
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search_page.js') }}"></script>
{% endblock %}