<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="HomePage" content="width=device-width, initial-scale=1.0">
        <h1 class ="page-header header container-fluid">
      
            <div class="header">
                <div style="text-align:center ; background-color: gray ; width : 300px ; height : 300 ; margin: auto">
                    <h1><br><br>The <br>
                        Array</h1>
                </div>
            </div>
        </h1>
    </head>
</html>